:root {
  --color-texto: #49454767;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #4568dc;
  background: -webkit-linear-gradient(to right, #b06ab3, #4568dc);
  background: linear-gradient(to right, #b06ab3, #4568dc);
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-weight: 700;
}

form {
  background: #ffffff;
  padding: 40px 0;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.form {
  width: 100%;
  margin: auto;
}

form .grupo {
  position: relative;
  margin: 45px;
}

input {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--color-texto);
}

input:focus {
  outline: none;
  color: #5e5d5d;
}

label {
  color: var(--color-texto);
  position: absolute;
  font-size: 16px;
  left: 5px;
  top: 10px;
  transition: 0.5s ease-in-out all;
  pointer-events: none;
}

input:focus~label,
input:valid~label{
  top: -14px;
  font-size: 12px;
  color: #2196f3;
}

.barra {
  position: relative;
  width: 100%;
  display: block;
}

.barra::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #b06ab3, #4568dc);
  transition: 0.3s ease;
  left: 0;
}

input:focus~.barra::before {
  width: 100%;
}

button {
  background: #4568dc;
  background: linear-gradient(to right, #b06ab3, #4568dc);
  border: none;
  display: block;
  width: 80%;
  margin: 10px auto;
  color: #ffffff;
  height: 40px;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
}

.link {
  text-decoration: none;
  color: #2196f3;
  text-align: center;
  padding: 10px 0 0 0;
  display: block;
}

@media screen and (max-width: 500px) {
  form {
    width: 80%;
  }
}